.lesson-four-task-one .btn:hover {
    color: red;
    background-color: yellow;
}
.link:hover~.title {
    background-color: green;
}
.lesson-four-task-three a.link:visited {
    color: yellow;
}
.lesson-four-task-four #sidebar a.link:link {
    color: red;
}
.lesson-four-task-five .btn:active {
    background-color: blue;
}
.lesson-four-task-six .btn:focus {
    color: orange;
    background-color: orange;
}
.lesson-four-task-seven #target:target {
    color: white;
    background-color: green;
}
#checkbox:checked~#target {
    color: white;
    background-color: blue;
}
.lesson-four-task-nine p:lang(uk) {
color: blue;
}
.form-group input:enabled {
    color: red;
    background-color: yellow;
}
input:disabled {
    background-color: yellow;
}
input:read-write {
    background-color: yellow;
}
.lesson-four-task-thirteen:read-only {
    background-color: yellow;
}
div>input:valid {
    color: green;
}
div>input:invalid {
    color: red;
}
input:optional {
    background-color: red;
}
.lesson-four-task-sixteen input:out-of-range {
    color: red;
}
.lesson-four-task-seventeen input:in-range {
    color: red;
}
div>input:placeholder-shown {
    color: red;
}
.btn-group button:focus-within {
    color: white;
    background-color: yellow;
}
input:invalid {
    background-color: red;
}